<div id="dashboard-page" class="animated fadeIn" data-ng-controller="DashboardController" data-ng-init="initialize()">

	<!-- Dashboard Header -->

	<div class="clearfix"></div>

	<!-- Dashboard Navigation -->
	<div id="dashboard-navigation">
		<span style="font-size:16px;">Lead Capture Dashboard</span>
		<ul class="list-inline pull-right" >
			<li>
				<a class="pull-right" href="/logout" >Sign Out</a>
			</li>
		</ul>
	</div>

	<div class="clearfix"></div>

	<!-- Dashboard Content -->
	<div id="dashboard-content" >

		<div id="form-select">
			<p class="st-centered st-font" style="font-size:8px;margin-bottom:0px;margin-top:10px;">Domains</p>
			<div class="domain-option">
				<select class="form-control input-sm"  data-ng-model="domain_index">
					<option data-ng-repeat="domain in domains" value="{{ $index }}">{{ domain.domain }}</option>
				</select>
			</div>
			<p class="st-centered st-font" style="font-size:8px;margin-bottom:0px;margin-top:10px;">Add Domain</p>
			<div class="domain-option">
				<input type="text" class="form-control input-sm st-centered clearfix" placeholder="mydomain.com" style="margin-bottom:10px;" data-ng-model="new_domain">
				<button class="btn btn-primary btn-sm" style="font-size:10px;" data-ng-click="createDomain()">Add Domain</button>
			</div>

			<hr>

			<p class="st-centered st-font" style="font-size:8px;margin-bottom:0px;margin-top:0px;">Forms</p>
			<div id="form-list">
				<p class="st-link" data-ng-repeat="form in domains[domain_index].forms track by $id($index)" style="font-size:12px;margin:8px 10px">
					<i class="fa fa-file-text-o" style="margin-right:5px;"></i> {{ form.title }}
				</p>
			</div>

		</div>
		
		<div id="form-builder" class="animated bounceInUp">

			<div id="form-outer">
				<div id="form-inner">

					

					<div class="form-top" style="display:block;width:100%;height:40px;">
						<!-- Form Title Input -->
						<div class="title" style="display:block;float:left;width:230px;height:40px;margin:0px;padding-top:3px;padding-right:5px;">
							<input type="text" data-ng-model="domains[domain_index].forms[form_index].title" style="float:left;padding:3px;border:0px;background:none;width:100%;text-align:left;font-size:14px;color:rgba(0,0,0,0.5)" placeholder="Enter A Form Title">
							
						</div>
						<div class="add-field" style="display:block;float:right;width:130px;height:30px;text-align:right">
							<select class="form-control input-sm" data-ng-options="field for field in field_types" data-ng-model="field" style="float:left;text-transform: capitalize!important;width:100px;margin:0px 0px"></select>
							<span class="st-link" style="font-size:23px;" data-ng-click="addField()">
								<i class="fa fa-plus"></i>
							</span>
						</div>
					</div>




					<!-- Form CTA1 Input -->
					<div class="cta1">
						<input type="text" data-ng-model="domains[domain_index].forms[form_index].cta1" style="border:0px;background:none;width:100%;margin:10px auto 5px auto;text-align:center;font-size:22px;font-weight:500;color:rgba(0,0,0,0.8)">
					</div>

					<!-- Form CTA2 Input -->
					<div class="cta2">
						<textarea data-ng-model="domains[domain_index].forms[form_index].cta2" style="border:0px;background:none;width:100%;height:35px;margin:0px auto 5px auto;text-align:center;font-size:14px;font-weight:normal;color:rgba(0,0,0,0.8);resize:vertical;"></textarea>
					</div>

					<p id="lead-capture-error" style="text-align:center;padding:10px;display:none;"></p>
					<p id="lead-capture-success" style="text-align:center;padding:10px;display:none;"></p>

					<!-- Editable Form Block -->
					<div class="editable-form-block" data-ng-repeat="block in domains[domain_index].forms[form_index].blocks track by $id($index)">
						<p data-ng-if="block.type !== 'select'" class="st-centered" style="margin-bottom:4px;">
							<span data-ng-show="block.type === 'full_name'">Full Name</span>
							<span data-ng-show="block.type === 'email'">Email</span>
						</p>

						<div class="select-title" data-ng-show="block.type === 'select'">
							<input type="text" data-ng-model="block.title" style="border:0px;background:none;width:100%;margin:0px auto;text-align:center;font-size:12px;">
						</div>

						<!-- Input Full Name -->
						<input data-ng-if="block.type === 'full_name'" type="text" class="form-control st-centered" placeholder="John Richards">
						<!-- Input Email -->
						<input data-ng-if="block.type === 'email'" type="email" class="form-control st-centered" placeholder="john@gmail.com">
						<!-- Input Select -->
						<select data-ng-show="block.type === 'select'"  class="form-control input-sm">
							<option data-ng-repeat="option in block.options track by $id($index)">{{ option }}</option>
						</select>
						<div class="select-options" data-ng-show="block.type === 'select'">
							<table class="table options-table" style="width:60%;margin:10px 0px;">
								<tr>
									<td>
										<i class="st-red fa fa-plus st-link" data-ng-click="addOption($index)"></i>
									</td>
									<td >
										<input type="text" data-ng-model="$parent.new_option" style="border:0px;background:none;width:100%;height:15px;margin:0px auto;text-align:left;font-size:12px;padding:0px;" placeholder="Enter New Option Here">
									</td>
								</tr>
								<tr data-ng-repeat="option in block.options track by $id($index)">
									<td>
										<i class="st-red fa fa-close st-link" data-ng-click="block.options.splice($index, 1)"></i>
									</td>
									<td>
										{{ option }}
									</td>
								</tr>
							</table>
						</div>


						<div class="editable-form-block-options ">
							<i class="st-red fa fa-chevron-up st-link" data-ng-click="moveBlock(block, $index, 'up')"></i>
							<i class="st-red fa fa-chevron-down st-link" data-ng-click="moveBlock(block, $index, 'down')"></i>
							<i class="st-red fa fa-close st-link" data-ng-click="domains[domain_index].forms[form_index].blocks.splice($index, 1)"></i>
						</div>
					</div>
					<div class="form-group" style="margin:25px 0px">
						<button class="btn btn-primary btn-lg" style="letter-spacing:-1px;" data-ng-click="saveAndPreview()">Save & Preview</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="clearfix"></div>

</div>
