<div id="dashboard-page" class="animated fadeIn" data-ng-controller="DashboardController" data-ng-init="initialize()">

	<!-- Dashboard Header -->
	<div id="dashboard-header">
		<h1 class="st-centered st-font logo animated fadeIn">
			Lead Capture Dashboard
		</h1>
	</div>

	<div class="clearfix"></div>

	<!-- Dashboard Navigation -->
	<div id="dashboard-navigation">
		<ul class="list-inline pull-right">
			<li>
				<a class="pull-right st-font" href="/logout">Sign Out</a>
			</li>
		</ul>
	</div>

	<div class="clearfix"></div>

	<!-- Dashboard Content -->
	<div id="dashboard-content" >

		<div id="form-select">
			<p class="st-centered st-font" style="font-size:8px;margin-bottom:0px;margin-top:10px;">Domains</p>
			<div class="domain-option">
				<select class="form-control input-sm" data-ng-options="d.domain for d in domains" data-ng-model="domain"></select>
			</div>
			<p class="st-centered st-font" style="font-size:8px;margin-bottom:0px;margin-top:10px;">Add Domain</p>
			<div class="domain-option">
				<input type="text" class="form-control input-sm st-centered clearfix" placeholder="mydomain.com" style="margin-bottom:10px;" data-ng-model="new_domain">
				<button class="btn btn-primary btn-sm" style="font-size:10px;" data-ng-click="createDomain()">Add Domain</button>
			</div>
			<hr>
			<div id="form-list">
				<p data-ng-repeat="form in domain.forms"> {{ form.title }}</p>
			</div>
		</div>
		
		<div id="form-builder" class="animated bounceInUp">
			<p class="st-centered s-contenteditable" data-ng-model="form.title" contenteditable="true" style="padding:4px;">{{ form.title }}</p>
			<div id="form-outer">
				<div id="form-inner">
					<h1 class="s-contenteditable cta1" data-ng-model="form.cta1" contenteditable="true">{{ form.cta1 }}</h1>
					<h5 class="s-contenteditable cta2" data-ng-model="form.cta2" contenteditable="true">{{ form.cta2 }}</h5>
					<p id="lead-capture-error" style="text-align:center;padding:10px;display:none;"></p>
					<p id="lead-capture-success" style="text-align:center;padding:10px;display:none;"></p>

					<!-- Editable Form Block -->
					<div class="editable-form-block" data-ng-repeat="block in form.blocks track by $id($index)">
						<p data-ng-if="block.type !== 'select'" class="st-centered" style="margin-bottom:4px;">
							<span data-ng-show="block.type === 'full_name'">Full Name</span>
							<span data-ng-show="block.type === 'email'">Email</span>
						</p>

						<p data-ng-if="block.type === 'select'" class="st-centered s-contenteditable" style="margin-bottom:4px;" data-ng-model="block.title" contenteditable="true">
							{{ block.title }}
						</p>

						<!-- Input Full Name -->
						<input data-ng-if="block.type === 'full_name'" type="text" class="form-control st-centered" placeholder="John Richards">
						<!-- Input Email -->
						<input data-ng-if="block.type === 'email'" type="email" class="form-control st-centered" placeholder="john@gmail.com">
						<!-- Input Select -->
						<select data-ng-if="block.type === 'select'"  class="form-control input-sm" data-ng-options="option for option in block.options" data-ng-model="block.options"></select>

						<div class="editable-form-block-options ">
							<i class="st-red fa fa-chevron-up st-link" data-ng-click="moveSortable(block, $index, 'up')"></i>
							<i class="st-red fa fa-chevron-down st-link" data-ng-click="moveSortable(block, $index, 'down')"></i>
							<i class="st-red fa fa-close st-link" data-ng-click="removeSortable($index)"></i>
						</div>
					</div>
					<div class="form-group" style="margin:25px 0px">
						<button class="btn btn-primary" style="letter-spacing:-1px;">Save & Preview</button>
					</div>
				</div>
			</div>
		</div>

		<div id="form-events">
			<p class="st-centered st-font" style="font-size:8px;margin-bottom:0px;margin-top:10px;">Add Form Field</p>
			<div class="domain-option">
				<select class="form-control input-sm" data-ng-options="field for field in field_types" data-ng-model="field" style="text-transform: capitalize!important"></select>
				<p class="st-centered" style="margin:10px 0px;">
					<button class="btn btn-primary btn-sm" style="font-size:10px;" data-ng-click="addField()">Add Field</button>
				</p>
			</div>
		</div>

	</div>

	<div class="clearfix"></div>

</div>
