/* Servant CSS - Override the other stylesheets and add your custom styles here */


/* FontFace Fonts */
@font-face {font-family: 'trend_sans_oneregular'; 
  src: url('/fonts/TrendSans-One-webfont.eot');
  src: url('/fonts/TrendSans-One-webfont.eot?#iefix') format('embedded-opentype'), 
  url('/fonts/TrendSans-One-webfont.woff') format('woff'), 
  url('/fonts/TrendSans-One-webfont.ttf') format('truetype'), 
  url('/fonts/TrendSans-One-webfont.svg#trend_sans_oneregular') format('svg'); 
}

/* Bootstrap Overrides */
a {color:#e8544c}
a:hover {text-decoration:none;color:#e96c6c;cursor:pointer;}
.st-red, .st-link {color:#e8544c!important;}
.st-link:hover {color:#e96c6c!important;cursor:pointer;}
.btn-primary, .btn-primary:visited {background:#e8544c!important;border:none!important;color:#ffffff;font-family: 'trend_sans_oneregular';text-transform: uppercase!important;letter-spacing:-1px;-webkit-font-smoothing: antialiased;-webkit-box-shadow: 0px 3px 0px 0px #c4443d;box-shadow: 0px 3px 0px 0px #c4443d;-webkit-border-radius:3px;border-radius:3px;text-shadow:none;-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */ -moz-transition: all 0.3s ease-out;  /* FF4+ */ -ms-transition: all 0.3s ease-out;  /* IE10 */ -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */ transition: all 0.3s ease-out;}
.btn-primary:hover {background:#ff6d65!important;color:#ffffff}
input, textarea, select, a, button, .s-contenteditable { 
    outline: none!important; /* overrides chrome default focus outline */
    outline-color: none!important;
}
.form-control {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 1px 0px 0px #e9e9e9;
    box-shadow: inset 0px 1px 0px 0px #e9e9e9;
}
.form-control:focus {
    border-color: rgba(0, 0, 0, 0.3);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* Custom Styles */
html, body { height:100%;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;background:#e4e4e4;color:#4d4d4d;padding:15px;}
[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }
.st-centered {text-align: center}
.st-font {font-family: 'trend_sans_oneregular';text-transform: uppercase!important;letter-spacing:-1px;}
#popup-outer, .st-sign-outer {background:#ffffff;padding:2px;margin:10px auto;height:auto;-webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);border-top:1px solid rgba(0,0,0,0.2);border-right:1px solid rgba(0,0,0,0.2);border-left:1px solid rgba(0,0,0,0.2);}
#popup-inner, .st-sign-inner {min-height:10px;padding:10px;font-size:12px;border:1px dashed rgba(0,0,0,0.15);text-align: center;}

/* Home Page */
#logo-container {padding-top:50px;text-align: center;}
#logo-container .logo {letter-spacing: -2px}
#logo-container .tagline {color:#777777;font-size:12px;letter-spacing: -0.5px;padding-top:10px;}
#logo-container .tagline span {margin:0px 5px;}
#logo-container .tagline i {opacity:0.2;}
#info-container {padding-top:30px;text-align: center;}


/* Dashboard */
.main-tip {line-height:22px;width:80%;margin:50px auto 0px auto;font-size:16px;}
#dashboard-header, #dashboard-navigation, #dashboard-content {display:block;min-height:15px;width:800px;}
#dashboard-page {height:100%;}
#dashboard-header {margin:0px auto!important;}
#dashboard-header .logo {letter-spacing: -1px;margin-top:5px;font-size:18px;}
#dashboard-navigation {padding:0px;margin:0px auto!important;}
#dashboard-navigation ul {margin-bottom:0px;}
#dashboard-navigation a {text-align: right!important;font-size:11px;}
#dashboard-content {min-height:500px;margin:0px auto 100px auto!important;background:#f4f4f4;overflow:hidden!important;-webkit-border-radius:6px;border-radius:6px;border: 1px solid rgba(0,0,0,0.2);-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 1px rgba(255,255,255,0.7);box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 1px rgba(255,255,255,0.7);}
#domains-table {max-width:100%!important;margin-left:10px;margin-bottom:20px;}
#domains-table td {border-top:none!important;padding:3px;font-size:12px;}
#popup-select {display:block;width:30%;float:left;height:100%;padding:10px;}
#popup-select .domain-option {text-align: center}
#popup-builder {display:block;width:70%;float:left;height:100%;padding:15px 25px 25px 25px;}
#popup-events {display:block;width:100%;}
#events-table {margin:10px auto;width:250px;}
#events-table td {border-top:1px solid rgba(0,0,0,0.1);padding:10px;}

/* popup Styles */
.cta2 textarea {padding:6px;}
.title input[type=text]:focus, .cta1 input:focus, .cta2 textarea:focus {background:rgba(0,0,0,0.04)!important;}
.cta2 {margin-bottom:0px;font-weight:normal;min-width:100px;}
.editable-popup-block {padding:10px 10px 3px 10px;margin:8px 0px;background:rgba(0,0,0,0.04);}
.editable-popup-block-options {display:block;height:20px;width:100%;text-align: right;}
.options-table {text-align:left!important;}
.options-table td {border-top: none!important;border-bottom: 1px solid rgba(0,0,0,0.04)!important;}

/* Preview Page */
#preview-page {
  height:200%;
}


