extends layouts/home_layout

block content
	section.container-fluid(id="home-page", data-ng-controller="HomeController", data-ng-init="initialize()")
		.row
			.col-md-12.animated.fadeIn(id="logo-container")
				h1.logo.st-font #{name}
				p.tagline.st-font 
					i.fa.fa-chevron-right 
					span #{description}
					i.fa.fa-chevron-left
		.row
			.col-md-12
				hr(style="width:50%;margin:25px auto;border-top:1px solid rgba(0,0,0,0.04)")
				p.st-centered.st-font Sign In
				form(action="login", method="POST", style="max-width:300px;margin:0px auto;")
					div.form-group
						input.form-control.st-centered(type="password", name="password")
					div.form-group.st-centered
						input.btn.btn-primary.btn-lg(type="submit")

