extends layouts/dashboard_layout

block content
	section.container-fluid(id="preview-page")
		h4.st-centered Preview Page
		p.st-centered
			a.btn.btn-primary(href="/") 
				i.fa.fa-chevron-left(style="margin-right:5px;")
				|  Go Back


		p.st-centered(style="margin-top:150px;") This button's ID is "cta-btn"

		p.st-centered
			button.btn.btn-primary.btn-lg(id="cta-btn", style="font-size:35px;") Click Here

	//- Lead Capture Script
	if (process.env.NODE_ENV === 'production')
		script(id='lead-capture-script-tag', type='text/javascript', src='/leadcapture.js', data-domain="#{domain}", data-dashboard="true")
	if (process.env.NODE_ENV !== 'production')
		script(id='lead-capture-script-tag', type='text/javascript', src='/leadcapture.js', data-domain="#{domain}", data-dashboard="true", data-development="true")